<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Product</title>
</head>
<body>
<h1>List de compras</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">preco</th>
                    <th scope="col">quantidade</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                 <tr th:each="produto : ${produtos}">
                    <th class="col-1" scope="row" th:text="${produto.getId()}">ID</th>
                    <td class="col-4" th:text="${produto.nome}">Nome</td>
                    <td class="col-2" th:text="${produto.preco}">preco</td>
                    <td class="col-2" th:text="${produto.quantidade}">Quantidade</td>
                    <td class="col-1"><a th:href="@{/produtos/{produtoId}(produtoId = ${produto.id})}">Detalhes</a></td>
                    <td class="col-1"><a th:href="@{/produtos/{produtoId}/edit(produtoId = ${produto.id})}">Edit</a></td>
                    <td class="col-1"><a th:href="@{/produtos/{produtoId}/delete(produtoId = ${produto.id})}">Deletar</a></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="/produtos/new">Novo produto</a>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>